<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FLTLoginUsuario</filter-name>
        <filter-class>controller.filtro.FLTLoginUsuario</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FLTLoginUsuario</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SRVLCadastrarAtor</servlet-name>
        <servlet-class>controller.SRVLCadastrarAtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLCadastrarDevolucao</servlet-name>
        <servlet-class>controller.SRVLCadastrarDevolucao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLCadastrarItem</servlet-name>
        <servlet-class>controller.SRVLCadastrarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLCadastrarClasse</servlet-name>
        <servlet-class>controller.SRVLCadastrarClasse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLCadastrarLocacao</servlet-name>
        <servlet-class>controller.SRVLCadastrarLocacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLCadastrarTitulo</servlet-name>
        <servlet-class>controller.SRVLCadastrarTitulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRVLLoginUsuario</servlet-name>
        <servlet-class>controller.SRVLLoginUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarDevolucao</servlet-name>
        <url-pattern>/SRVLCadastrarDevolucao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarAtor</servlet-name>
        <url-pattern>/SRVLCadastrarAtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarItem</servlet-name>
        <url-pattern>/SRVLCadastrarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarLocacao</servlet-name>
        <url-pattern>/SRVLCadastrarLocacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarTitulo</servlet-name>
        <url-pattern>/SRVLCadastrarTitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLCadastrarClasse</servlet-name>
        <url-pattern>/SRVLCadastrarClasse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRVLLoginUsuario</servlet-name>
        <url-pattern>/SRVLLoginUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
